/* Defines set colors that are repeatable if i want to use them. */
:root {
    --orange: darkgoldenrod;
    --light: floralwhite;
    --dark: indigo;
    --pop:  hsl(313, 100%, 51%);
    --sizzle: rgb(248, 7, 7);
    --realdark: black;
    

}
