/* Defines global page styles */
* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ; 
    color: var(--sizzle);
    font-style: oblique;
}
/* Defines font size for all */
html {
    font-size: 1vw; 
}
/* Defines Body styling */
body{
    display: flex;
    flex-direction: column;
    background-color:black;
    width:100%
}
/* Defines positioning and sizing of header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    right: 0px;
    left: 0px;
    background-color:var(--realdark);
}
/* Defines header text, colors, etc... */
h1 {
    text-align: left;
    font-size: 5em;
    color: var(--light);
    margin: 1% 1% 1% 0%;
    background-color: coral;
}
/* Defines layout and sizing of navbar within header*/
nav { 
    display:inline;
    font-size: 2.5rem;
    justify-content: right;
}
/* Defines text size for navbar selections */
nav a {
    font-size: 2.25rem;
    margin-right: 10px;
}
/* Defines the header looks when a user hovers/clicks on item in header list */
nav a:hover {
    text-decoration:none;
    color:#fff;
    background-color: lightcoral;
}
/* Defines display for banner image and text */
q {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 15vw;
    background-size: cover;
    background-color: #fff;
    background-image: url(../images/bannerimage.jpg);
    background-repeat: no-repeat; 
    font-size: 2rem; 
    color: #fff;
}
/* Defines the spacing for class spacing within site for content */
.spacing {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vw;
    /* width: 100vw; */
    }
/* Defines display, alignment and padding for class section header within site for contet */
.section-header {
    display: flex;
    flex-direction: row;
    align-self:auto;
    padding: 1vw 0 0 4vw;
    width: 30vw;
}
/* Defines about me text alignment and display */
#about-me {
    display: flex;
    text-align: center;    
}
/* Defines class content within site content */
.content {
    width:75%;
    margin: 10px;
}
/* Defines font display - sizing, alignment, etc.. */
p {
    font-size: 1.4rem;
    color:aliceblue;
    align-self: center;
    text-align: left;
}
/* Defines how my-content ids display on website page */
#my-content {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
    color: var(--light);
}
/* Defines how h2 tags/elements display within site content */
h2 {
    display:flex;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 4em;
}
/* Defines how content layout ids display within the site content */
#content-layout {
    display: flex;
    flex-wrap: wrap;
}
/* Defines how the displaycard class displays, looks and behaves within the site content */
.displaycard {
    flex-basis: calc(50% - 1.50vw);
    height: 10em;
    background-size:cover;
    background-image: url("../images/Lookatwhatimdoing.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10vw;
    opacity: .90;
    font-size: 4.0rem;
    font-weight: 150;
    text-align:center;
    margin: .75vw;
    color: whitesmoke;
    text-shadow: -.041vw -.041vw #fff, .041vw -.041vw #ffffff00, -.041vw .041vw #ffffff00, .041vw .041vw #fff;
    border: .25vw solid;
    border-color: honeydew;
}
/* Defines how the displaycard content behaves when user hovers over them */
.displaycard:hover {
    opacity: 1;
}
/* Defines how the displaycard content behaves when user hovers over them (seems redundant, but helps if text only avail*/
.displaycard:hover text {
    opacity: 1;
}
/* Defines how the first displaycard presents to the user on the page (biggest one) */
.displaycard:first-child {
    flex-basis: 100%;
    height: 50vw;
}
/* Defines how the aside contact-info id displays to user when hovered over or clicked */
aside:hover #contact-info {
    display: inherit;
}
/* Defines how the contact-info id presents on page and behavior when hovered over or clicked */
#contact-info {
    text-align: center;
    display: none;
    height: 15vw;   
    padding-top: 5vw;
}
/* Defines how the contact-info id a tags/elements are sized within page relative to other content */
#contact-info a {
    font-size: 1.8rem;
    margin: 0 2vw 0 2vw;
}
/* Defines how the contact-info ids a tags/elements behave when hovered over/clicked */
#contact-info a:hover {
    text-decoration:wavy;
    color:#fff;
    background-color: lightcoral;
}
/* Defines how the footer is placed and displays within the site page relative to viewing size */
footer h3 {
    margin-top: 5vw;
    text-align:center;
    padding-bottom: 7px;
}
/* Defines how the screen behaves based on a relative view width of 960px or less*/
@media only screen and (max-width:992px) {
    * {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    html {
        font-size: 2vw;
    }
    #my-content {
        display: inherit;
        flex-direction: column;
        align-items: center;
    }
    #content-layout {
        display:inherit;
        flex-direction: row;
        align-content: center;
    }
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3.5rem;
    }
    p {
        font-size: 1.85rem;
    }
}
