/* Defines global page styles */
* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ; 
    color: var(--sizzle);
    font-style: oblique;
}
/* Defines font size for all */
html {
    font-size: 1vw; 
}
/* Defines Body styling */
body{
    display: flex;
    flex-direction: column;
    background-color:black;
    /* width:100% */
}
/* Defines positioning and sizing of header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    right: 0px;
    left: 0px;
    background-color:var(--realdark);
}
/* Defines header text, colors, etc... */
h1 {
    text-align: left;
    font-size: 7em;
    color: var(--light);
    margin: 1% 1% 1% 0%;
    background-color: coral;
}
/* Defines layout and sizing of navbar within header*/
nav { 
    display:inline;
    font-size: 2.5rem;
    justify-content: right;
}
/* Defines text size for navbar selections */
nav a {
    font-size: 2.25rem;
}
/* Defines what happens when user hovers/clicks on item in header list */
nav a:hover {
    text-decoration:none;
    color:#fff;
    background-color: lightcoral;
}
/* Image for banner */
img {
    display: flex;
    height: 15vw;
    /* text-align: right; */
    background-size: cover;
    background-color: #fff;
    background-image: url(../images/bannerimage.jpg);
    background-repeat: no-repeat;    
}

#bubble-gum-banner {
    display: flex;
    flex-direction:row-reverse;
}

.spacing {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vw;
    width: 100vw;
}

.section-header {
    display: flex;
    flex-direction: row;
    align-self:auto;
    padding: 1vw 0 0 4vw;
    width: 30vw;
}

#about-me {
    display: flex;
    text-align: center;    
}

.content {
    width:75%;
    margin: 10px;
}

p {
    font-size: 1.5rem;
    color:aliceblue;
    align-self: center;
    text-align: left;
}

#my-content {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
    font-style: strong;
    color: var(--light);
}

h2 {
    display:flex;
    text-align: center;
    /* margin-top: 10px;
    padding-top: 10px; */
    font-size: 4em;
}

#content-layout {
    display: flex;
    flex-wrap: wrap;
}

.displaycard {
    flex-basis: calc(50% - 1.50vw);
    height: 10em;
    background-size:cover;
    background-image: url("../images/Lookatwhatimdoing.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10vw;
    opacity: .90;
    font-size: 4.0rem;
    font-weight: 150;
    text-align:center;
    margin: .75vw;
    color: whitesmoke;
    text-shadow: -.041vw -.041vw #fff, .041vw -.041vw #ffffff00, -.041vw .041vw #ffffff00, .041vw .041vw #fff;
    border: .25vw solid;
    border-color: honeydew;
}

.displaycard:hover {
    opacity: 1;
}

.displaycard:hover text {
    opacity: 1;
}

.displaycard:first-child {
    flex-basis: 100%;
    height: 50vw;
}

aside:hover #contact-info {
    display: inherit;
}

#contact-info {
    text-align: center;
    align-self: space-around;
    display: none;
    height: 15vw;   
    padding-top: 5vw;
}

#contact-info a {
    font-size: 1.8rem;
    margin: 0 2vw 0 2vw;
}

#contact-info a:hover {
    text-decoration:wavy;
    color:#fff;
    background-color: lightcoral;
}


@media only screen and (max-height:960px) {
    * {
        display: flex;
        flex-direction: column;
    }
    html {
        font-size: 2vw;
    }
    /* img {
        background-size: auto;
    } */
    #my-content {
        display: inherit;
        flex-direction: column;
        align-content: center;
    }
    #content-layout {
        display:inherit;
        flex-direction: row;
        align-content: center;
    }
    }
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3.5rem;
    }
    p {
        font-size: 1.85rem;
    }


/* @media only screen and (min-width: 615px) {
    h1 {
        font-size: 3rem;
    
    }
    h2 {
        font-size: 2.75rem;
    }
    p {
        font-size: 1.85rem;
    }
    } */

    /* @media only screen and (min-width: 992px) {
        h1 {
            font-size: 1.5rem;
            
        }
        p {
            font-size: 1.5rem;
        }  
    } */

    /* @media only screen and (min-width: 768px) {
    h1 {
         font-size: 4rem;
        
    }
    p {
        font-size: 4rem;
    }  
    }

@media only screen and (min-width: 992px) {
    h1 {
        font-size: 4rem;
        
    }
    p {
        font-size: 4rem;
    }  
    }     */ */

/* @media only screen and (min-width: 1200px) {
    h1 {
        font-size: 4rem;
        
    }
    p {
        font-size: 4rem;
    }  
    } */

footer h3 {
    margin-top: 5vw;
    text-align:center;
    padding-bottom: 7px;
}
